{:db      {:url "datomic:dev://localhost:4334/"
           :sid "example"}
 :required-schema [:dt :t :fn :any :twit]
 :nrepl   {:port 28888}
 :auth {:twitter
        {:consumer-key    ""
         :consumer-secret ""
         :access-token    ""
         :access-secret   ""}}}
