
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;
;;;  User Attributes
;;;

[
 []

;;;
;;;  User Datatype
;;;
;;; NOTE: may add slots and generate concrete instances to serve as sameAs
;;; relation to unify unique individuals holding accounts among several
;;; social network services.

 [
  {:db/id #db/id[:db.part/user -1]
   :db/ident :user
   :dt/dt :dt/dt
   :dt/parent :t
   :dt/namespace "model"
   :dt/name "User"
   :db/doc "Abstract Superclass of all Social Network Users."
   :dt/slots []}
  ]


;;;
;;;  User Aggregates
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :dt/dt :dt/dt
   :dt/namespace "model"
   :dt/name "User[]"
   :db/ident :user*
   :dt/parent :t*
   :db/doc "Single-dimensional aggregate of concrete User subclass instances"
   :dt/component :user
   :dt/_list :user
   :dt/slots []}

  {:db/id #db/id[:db.part/user -2]
   :dt/dt :dt/dt
   :dt/namespace "model"
   :dt/name "User[][]"
   :db/ident :user**
   :dt/parent :t**
   :db/doc "Multi-dimensional aggregate of concrete User subclass instances"
   :dt/component #db/id[:db.part/user -1]
   :dt/_list #db/id[:db.part/user -1]
   :dt/slots []}
  ]

 ]
